#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: black;
}

#root1,#root2,#outro{
  position: absolute;
  width: 100%;
  height: 100%;
}
