* {
    --background-color: {{ initParams.stylesheet.backgroundColor }};
    --font-color: {{ initParams.stylesheet.fontColor }};
    --image-background-color: {{ initParams.stylesheet.imageBackgroundColor }};
    --primary-color: {{ initParams.stylesheet.primaryColor }};
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 100%;
  background:var(--background-color);
  color: var(--font-color);
}

.company-wrapper{
  position: relative;
  max-width: 250px;
  background-color: var(--primary-color);
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 25px;
  color: var(--background-color);
  scale: 0;
  opacity:0;
  transform: rotate(-180deg);
  text-align: center;
}

.company-quote{
  position: relative;
  top: 100%;
}

.company-quote{
  font-family: 'Raleway', sans-serif;
  max-width: 250px;
  text-align: center;
  font-weight: bold;
}


